*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background-color: grey;
}

.header-logo {
  padding: 25px 50px;
}

.logo-light {
  display: block;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  margin: 0;
  padding: 0 50px;
  list-style: none;
}

.header-nav-link {
  margin-right: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: inherit;
  text-decoration: none;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: inherit;
  text-decoration: none;
}

.button {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
  padding: 25px 60px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  background-color: #5C8EE5;
}

.header-button {
  padding: 34px 50px;
}