/* Global styles */
/* ============================================================ */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #FFFFFF;
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 90rem;
}

.button {
  flex-shrink: 0;
  padding: 1.5625rem 3.75rem;
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #FFFFFF;
  background-color: #5C8EE5;
  cursor: pointer;
}

.burger {
  display: none;
}

.mobile-menu {
  display: none;
}



/* navbar */
/* ============================================================ */
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.875rem;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  color: #FFFFFF;
  z-index: 100;
  transition: background-color 0.3s, height 0.3s;
}

.navbar-light {
  height: 4.625rem;
  color: #292d33;
  background-color: #fafbfc;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.header-logo {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0 3.125rem;
  height: 100%;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.logo-svg {
  display: block;
  width: 8.75rem;
  height: 2.75rem;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  padding-left: 3.125rem;
}

.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header-nav-link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: inherit;
  word-spacing: 0.3px;
  letter-spacing: 0.2px;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-right: 3.125rem;
}

.navbar .phone-svg {
  fill: #5C8EE6;
}

.header-phone-link {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: inherit;
}

.navbar-button {
  padding: 0 3.3125rem;
  height: 100%;
}

.navbar-button .phone-svg {
  display: none;
}



/* header */
/* ============================================================ */
header {
  padding-top: 5.875rem;
}

.header-image {
  position: relative;
  background-image: url('../img/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
}

.header-content {
  position: relative;
  padding-top: 9.375rem;
}

.separator {
  width: 9.375rem;
  height: 2px;
  background-color: #5C8EE5;
}

.header-title {
  margin-top: 1.4375rem;
  margin-bottom: 2.375rem;
  max-width: 67.5rem;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  color: #FFFFFF;
}

.header-text {
  margin-bottom: 3.125rem;
  max-width: 45rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  word-spacing: 0.8px;
}

.header-features {
  position: relative;
  margin: 0;
  margin-top: 6.25rem;
  padding: 0;
  display: flex;
}

.header-features-item {
  padding: 1.875rem 3.125rem;
  min-height: 100%;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-icon {
  display: block;
  margin-bottom: 1.25rem;
}

.header-features-text {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #FFFFFF;
}

.slider-controls {
  display: none;
  height: 44px;
}

.slider-button-prev,
.slider-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  height: 100%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  cursor: pointer;
}



/* section steps */
/* ============================================================ */
.section {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
}

.section-title {
  margin-top: 1.5rem;
  margin-bottom: 3.125rem;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
}

.steps {
  display: flex;
  gap: 1.875rem;
}

.steps-item {
  width: 20.625rem !important;
}

.steps-num {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee5;
}

.steps-num::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ebebf0;
}

.steps-title {
  margin-top: 2.1875rem;
  margin-bottom: .8125rem;
  max-width: 18.75rem;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
}

.steps-text {
  margin-top: .625rem;
  margin-bottom: 0;
  max-width: 18.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}

.steps-link {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee5;
}

.steps-link::before {
  content: "";
  margin-right: 1.25rem;
  width: 2.5rem;
  height: 1px;
  background-color: #5c8ee5;
}










/* media */
/* ============================================================ */
@media (max-width: 1740px) {

  /* ============================== */
  html {
    font-size: 15px;
  }
}



@media (max-width: 1640px) {

  /* ============================== */
  html {
    font-size: 14px;
  }
}



@media (max-width: 1540px) {

  /* ============================== */
  html {
    font-size: 13px;
  }
}



@media (max-width: 1460px) {

  /* ============================== */
  .header-logo {
    padding: 0 2rem;
  }

  .logo-svg {
    max-width: 6.5rem;
  }

  .header-nav {
    padding-left: 1rem;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }

  .header-phone {
    margin-right: 1.5rem;
  }
}



@media (max-width: 1240px) {

  /* ============================== */
  .container {
    max-width: 70rem;
  }

  .navbar {
    height: 5rem;
  }

  .header-phone {
    display: none;
  }

  .navbar-button {
    padding: 0 1.5rem;
  }

  .header {
    padding-top: 5rem;
  }

  .slider-controls {
    display: flex;
  }
}


@media (max-width: 992px) {

  /* ============================== */
  /* other styles */
  /* ================= */
  html {
    font-size: 12px;
  }

  .container {
    max-width: 60rem;
  }

  .header-logo {
    justify-content: center;
    flex-grow: 1;
  }

  .header-nav {
    display: none;
  }

  .navbar-button .phone-svg {
    display: block;
    fill: #FFFFFF;
  }

  .navbar-button .button-text {
    display: none;
  }

  /* style burger */
  /* ================= */
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 28px;
    width: 80px;
    height: 100%;
    border: none;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    background-color: transparent;
    cursor: pointer;
  }

  .burger-line {
    margin-bottom: 5px;
    width: 20px;
    height: 1px;
    background-color: #FFFFFF;
    transition: transform 0.2s;
  }

  .burger-line:nth-child(2) {
    width: 15px;
  }

  .navbar-light .burger-line {
    background-color: #292D33;
  }

  .burger-close .burger-line:nth-child(2) {
    display: none;
  }

  .burger-close .burger-line:first-child {
    transform: rotate(45deg) translateY(4px);
  }

  .burger-close .burger-line:last-child {
    transform: rotate(-45deg) translateY(-4px);
  }

  /* style mobile-menu */
  /* ================= */
  .mobile-menu {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    background-color: #fafbfc;
    overflow-y: auto;
    z-index: 10;
  }

  .mobile-menu.is-open {
    display: block;
  }

  .mobile-menu-top {
    padding: 2.5rem 1.25rem;
    border-bottom: 1px solid #ebebf0;
  }

  .mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .mobile-menu-nav-link {
    font-weight: 700;
    font-size: 1.167rem;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-submenu-list {
    padding-top: 1.6667rem;
    padding-left: 1.6667rem;
  }

  .mobile-submenu-item:not(:last-child) {
    margin-bottom: .8333rem;
  }

  .mobile-submenu-link {
    font-size: 1.167rem;
    line-height: 160%;
    color: #828a99;
  }

  .mobile-menu-bottom {
    padding: 0 1.25rem;
    padding-top: 2.5rem;
  }

  .mobile-menu-phone {
    display: block;
    margin-bottom: 1.6667rem;
    font-weight: 600;
    font-size: 1.6667rem;
    line-height: 160%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #292d33;
  }

  .mobile-menu-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mobile-menu-info:not(:last-of-type) {
    margin-bottom: .8333rem;
  }

  .mobile-menu-address,
  .mobile-menu-mail {
    font-size: 1.1667rem;
    font-style: normal;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-menu-social {
    display: flex;
    gap: 1.25rem;
    margin-top: 1.6667rem;
  }
}



@media (max-width: 768px) {

  /* ============================== */
  .container {
    max-width: 45rem;
  }

  .navbar {
    height: 5.6667rem;
  }

  .navbar-light {
    height: 4rem;
  }

  .navbar-button {
    padding: 0 2.3333rem;
  }

  .header {
    padding-top: 5.6667rem;
  }

  .header-content {
    padding-top: 4.1667rem;
  }

  .header-title {
    margin-top: 1.6667rem;
    margin-bottom: .8333rem;
    font-size: 4rem;
  }

  .mobile-menu {
    padding-top: 4rem;
  }

  .section {
  padding-top: 8.3333rem;
  padding-bottom: 8.3333rem;
}
}



@media (max-width: 576px) {

  /* ============================== */
  .container {
    max-width: 92%;
  }

  .header-text {
    margin-bottom: 2.5rem;
  }

  .header-features {
    margin-top: 4.1667rem;
  }

  .header-button {
    width: 100%;
  }
}