/* Global styles */
/* ============================================================ */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #FFFFFF;
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 90rem;
}

.button {
  flex-shrink: 0;
  padding: 1.5625rem 3.75rem;
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #FFFFFF;
  background-color: #5C8EE5;
  cursor: pointer;
}

.burger {
  display: none;
}

.mobile-menu {
  display: none;
}



/* navbar */
/* ============================================================ */
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.875rem;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  color: #FFFFFF;
  z-index: 100;
  transition: background-color 0.3s, height 0.3s;
}

.navbar-light {
  height: 4.625rem;
  color: #292d33;
  background-color: #fafbfc;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.header-logo {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0 3.125rem;
  height: 100%;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.logo-svg {
  display: block;
  width: 8.75rem;
  height: 2.75rem;
}

.logo-dark {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 3.125rem;
}

.header-nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header-nav-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: inherit;
  word-spacing: 0.3px;
  letter-spacing: 0.2px;
}

.header-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  background-color: #5c8ee5;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-right: 3.125rem;
}

.navbar .phone-svg {
  fill: #5C8EE6;
}

.header-phone-link {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: inherit;
}

.navbar-button {
  padding: 0 3.13rem;
  height: 100%;
}

.navbar-button .phone-svg {
  display: none;
}



/* header */
/* ============================================================ */
header {
  padding-top: 5.875rem;
}

.header-image {
  position: relative;
  background-image: url('../img/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
}

.header-content {
  position: relative;
  padding-top: 9.375rem;
}

.separator {
  width: 150px;
  height: 2px;
  background-color: #5C8EE5;
}

.header-title {
  margin-top: 1.4375rem;
  margin-bottom: 2.375rem;
  max-width: 67.5rem;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  color: #FFFFFF;
}

.header-text {
  margin-bottom: 3.125rem;
  max-width: 45rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  word-spacing: 0.8px;
}

.header-features {
  position: relative;
  margin: 0;
  margin-top: 6.25rem;
  padding: 0;
  display: flex;
}

.header-features-item {
  padding: 1.875rem 3.125rem;
  min-height: 100%;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-icon {
  display: block;
  margin-bottom: 1.25rem;
}

.header-features-text {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #FFFFFF;
}

.slider-controls {
  display: none;
}

.header .slider-controls {
  height: 44px;
}

.slider-button-prev,
.slider-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.header .slider-button-prev,
.header .slider-button-next {
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
}



/* section steps */
/* ============================================================ */
.section {
  padding-top: 150px;
}

.section-title {
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
}

.steps-list {
  display: flex;
}

.steps-item {
  max-width: 20.625rem;
}

.steps-num {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #5c8ee5;
}

.steps-num::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ebebf0;
}

.steps-title {
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 18.75rem;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
}

.steps-text {
  margin-top: .625rem;
  margin-bottom: 0;
  max-width: 300px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}

.button-link {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee5;
}

.button-link::before {
  content: "";
  margin-right: 20px;
  width: 40px;
  height: 1px;
  background-color: #5c8ee5;
  transition: width 0.2s;
}

.steps .slider-controls {
  justify-content: flex-end;
  margin-top: 20px;
  height: 40px;
}

.steps .slider-button-prev,
.steps .slider-button-next {
  width: 60px;
  background-color: #5c8ee5;
}



/* section production */
/* ============================================================ */
.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  --elems: 3;

  display: flex;
  flex-direction: column;
  width: calc(100% / var(--elems));
  min-height: 37.0625rem;
  border: 1px solid #ebebf0;
  transition: border 0.2s;
}

.card-content {
  padding-top: 2.5rem;
  padding-left: 3.125rem;
}

.card-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  transition: color 0.2s;
}

.card-text {
  margin-bottom: auto;
  max-width: 310px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}

.card-image {
  display: block;
  align-self: flex-end;
  margin-top: auto;
  max-width: 100%;
}



/* section trademark */
/* ============================================================ */
.trademark-cards {
  display: flex;
  flex-wrap: wrap;
}

.trademark-card {
  flex-basis: 50%;
  display: grid;
  grid-template-areas:
    "icon title"
    "icon text";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 2.60vw;
  padding: 3.125rem;
  border: 1px solid #ebebf0;
}

.trademark-card-icon {
  grid-area: icon;
  width: 11.25rem;
  height: 11.25rem;
  fill: #828a99;
}

.trademark-card-title {
  grid-area: title;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
}

.trademark-card-text {
  grid-area: text;
  margin-top: 10px;
  max-width: 360px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}


/* section founder */
/* ============================================================ */
.founder-wrapper {
  display: flex;
  column-gap: 6.25vw;
}

.founder-img {
  display: block;
  width: 43.75%;
  object-fit: cover;
}

.founder-content {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 45rem;
}

.founder-title {
  max-width: 480px;
  margin-bottom: 1.25rem;
}

.founder-text {
  margin-bottom: 1.875rem;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}


/* section clients */
/* ============================================================ */
.clients-wrapper {
  display: flex;
  gap: 1.875rem;
}

.clients-content {
  max-width: 43.125rem;
}

.clients-title {
  margin-bottom: 2.375rem;
}

.clients-content-wrapper {
  display: flex;
  gap: 3.125rem;
}

.clients-content-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
}

.clients-content-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.clients-logo {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  padding-top: 32px;
}

.clients-logo-item {
  --elems: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / var(--elems));
  min-height: 10rem;
  border: 1px solid #ebebf0;
  filter: grayscale(100%);
}

.clients-logo-icon {
  width: 4.375rem;
  height: 4.375rem;
}








/* hover */
/* ============================================================ */
.header-nav-link:hover::after {
  transform: scaleX(1);
}

.button-link:hover::before {
  width: 60px;
}

.card:hover {
  border: 1px solid #5c8ee5;
}

.card:hover .card-title {
  color: #5c8ee5;
}

.trademark-card:hover {
  border: 1px solid #5c8ee5;
}

.trademark-card:hover .trademark-card-title {
  color: #5c8ee5;
}

.trademark-card:hover .trademark-card-icon {
  fill: #5c8ee5;
}

.clients-logo-item:hover {
  filter: grayscale(0);
}




/* media */
/* ============================================================ */
@media (max-width: 1740px) {

  /* ============================== */
  html {
    font-size: 15px;
  }
}



@media (max-width: 1640px) {

  /* ============================== */
  html {
    font-size: 14px;
  }
}



@media (max-width: 1540px) {

  /* ============================== */
  html {
    font-size: 13px;
  }
}



@media (max-width: 1460px) {

  /* ============================== */
  .header-logo {
    padding: 0 2rem;
  }

  .logo-svg {
    max-width: 6.5rem;
  }

  .header-nav {
    padding-left: 1rem;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }

  .header-phone {
    margin-right: 1.5rem;
  }
}



@media (max-width: 1240px) {

  /* ============================== */
  .container {
    max-width: 70rem;
  }

  .navbar {
    height: 5rem;
  }

  .header-phone {
    display: none;
  }

  .navbar-button {
    padding: 0 1.5rem;
  }

  .header {
    padding-top: 5rem;
  }

  .slider-controls {
    display: flex;
  }

  .steps-item {
    max-width: 100%;
  }

  .card {
    min-height: 429px;
  }

  .trademark-card {
    grid-template-areas:
      "icon title"
      "text text";
    padding: 30px;
  }

  .trademark-card-title {
    font-size: 20px;
  }

  .founder-content {
    padding-right: 25px;
  }
}


@media (max-width: 992px) {

  /* ============================== */
  /* other styles */
  /* ================= */
  html {
    font-size: 12px;
  }

  .container {
    max-width: 60rem;
  }

  .header-logo {
    justify-content: center;
    flex-grow: 1;
  }

  .logo-svg {
    max-width: 120px;
    width: 120px;
    height: 38px;
  }

  .header-nav {
    display: none;
  }

  .navbar-button .phone-svg {
    display: block;
    fill: #FFFFFF;
  }

  .navbar-button .button-text {
    display: none;
  }

  .separator {
    width: 100px;
  }

  .section {
    padding-top: 100px;
  }

  .section-title {
    margin-top: 17px;
    margin-bottom: 30px;
    font-size: 36px;
  }

  .steps-title {
    margin-top: 12px;
    font-size: 20px;
    line-height: 130%;
  }

  .steps-text,
  .button-link {
    font-size: 14px;
  }

  .button-link {
    margin-top: 26px;
    font-weight: 700;
  }

  .card {
    --elems: 2;
  }

  .card-image {
    max-height: 220px;
  }

  .card-title {
    font-size: 20px;
    line-height: 130%;
  }

  .card-text {
    max-width: 285px;
    font-size: 14px;
  }

  .card-content {
    padding-top: 20px;
    padding-left: 30px;
  }

  .trademark-card {
    column-gap: 30px;
    padding: 0;
    padding-left: 30px;
  }

  .trademark-card-icon {
    width: 100px;
    height: 100px;
  }

  .trademark-card-title {
    line-height: 130%;
  }

  .trademark-card-text {
    font-size: 14px;
  }

  .founder-wrapper {
    flex-direction: column;
  }

  .founder-img {
    width: 100%;
  }

  .founder-content {
    max-width: 100%;
    padding: 50px 15px;
    padding-bottom: 0;
  }

  .founder-title {
    margin-bottom: 10px;
  }

  .founder-text {
    margin-bottom: 18px;
    font-size: 14px;
  }

  .clients-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .clients-content {
    max-width: 100%;
  }

  .clients-content-list {
    width: 50%;
  }

  .clients-content-item {
    font-size: 14px;
  }

  .clients-logo {
    padding-top: 0;
  }

  .clients-logo-item {
    min-height: 110px;
  }

  .clients-logo-icon {
    width: 50px;
    height: 50px;
  }

  /* style burger */
  /* ================= */
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 28px;
    width: 80px;
    height: 100%;
    border: none;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    background-color: transparent;
    cursor: pointer;
  }

  .burger-line {
    margin-bottom: 5px;
    width: 20px;
    height: 1px;
    background-color: #FFFFFF;
    transition: transform 0.2s;
  }

  .burger-line:nth-child(2) {
    width: 15px;
  }

  .navbar-light .burger-line {
    background-color: #292D33;
  }

  .burger-close .burger-line:nth-child(2) {
    display: none;
  }

  .burger-close .burger-line:first-child {
    transform: rotate(45deg) translateY(4px);
  }

  .burger-close .burger-line:last-child {
    transform: rotate(-45deg) translateY(-4px);
  }

  /* style mobile-menu */
  /* ================= */
  .mobile-menu {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    background-color: #fafbfc;
    overflow-y: auto;
    z-index: 10;
  }

  .mobile-menu.is-open {
    display: block;
  }

  .mobile-menu-top {
    padding: 2.5rem 1.25rem;
    border-bottom: 1px solid #ebebf0;
  }

  .mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .mobile-menu-nav-link {
    font-weight: 700;
    font-size: 1.167rem;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-submenu-list {
    padding-top: 1.6667rem;
    padding-left: 1.6667rem;
  }

  .mobile-submenu-item:not(:last-child) {
    margin-bottom: .8333rem;
  }

  .mobile-submenu-link {
    font-size: 1.167rem;
    line-height: 160%;
    color: #828a99;
  }

  .mobile-menu-bottom {
    padding: 0 1.25rem;
    padding-top: 2.5rem;
  }

  .mobile-menu-phone {
    display: block;
    margin-bottom: 1.6667rem;
    font-weight: 600;
    font-size: 1.6667rem;
    line-height: 160%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #292d33;
  }

  .mobile-menu-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mobile-menu-info:not(:last-of-type) {
    margin-bottom: .8333rem;
  }

  .mobile-menu-address,
  .mobile-menu-mail {
    font-size: 1.1667rem;
    font-style: normal;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-menu-social {
    display: flex;
    gap: 1.25rem;
    margin-top: 1.6667rem;
  }
}



@media (max-width: 768px) {

  /* ============================== */
  .container {
    max-width: 45rem;
  }

  .navbar {
    height: 5.6667rem;
  }

  .navbar-light {
    height: 4rem;
  }

  .navbar-button {
    padding: 0 2.3333rem;
  }

  .header {
    padding-top: 5.6667rem;
  }

  .header-content {
    padding-top: 4.1667rem;
  }

  .header-title {
    margin-top: 18px;
    margin-bottom: 15px;
    font-size: 4rem;
  }

  .mobile-menu {
    padding-top: 4rem;
  }

  .trademark-cards {
    flex-direction: column;
  }

  .trademark-card {
    padding: 30px;
  }

  .trademark-card-text {
    max-width: 100%;
  }
}



@media (max-width: 576px) {

  /* ============================== */
  .container {
    max-width: 92%;
  }

  .header-text {
    margin-bottom: 2.5rem;
    font-size: 14px;
  }

  .header-features {
    margin-top: 4.1667rem;
    height: 140px;
  }

  .header-features-item {
    padding: 20px 30px;
  }

  .header-button {
    width: 100%;
    font-weight: 700;
    font-size: 14px;
  }

  .card {
    --elems: 1;
  }

  .trademark-title span {
    display: none;
  }

  .trademark-card-text {
    margin-top: 20px;
  }

  .clients-content-wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .clients-content-list {
    width: 100%;
  }

  .clients-logo-item {
    --elems: 2;
  }
}