/* Global styles */
/* ============================================================ */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #FFFFFF;
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
  padding: 25px 60px;
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  background-color: #5C8EE5;
  cursor: pointer;
}



/* navbar */
/* ============================================================ */
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 94px;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  color: #FFFFFF;
  z-index: 2;
  transition: background-color 0.3s, height 0.3s;
}

.navbar-light {
  height: 74px;
  color: #292d33;
  background-color: #fafbfc;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.navbar-button {
  padding: 0 45px;
  height: 100%;
}


/* header */
/* ============================================================ */
header {
  padding-top: 94px;
  min-height: 100vh;
}

.header-image {
  position: relative;
  background-image: url('../img/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
}

.header-logo {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0 50px;
  height: 100%;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.logo-svg {
  display: block;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  margin: 0;
  padding: 0 50px;
  list-style: none;
}

.header-nav-link {
  margin-right: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: inherit;
  word-spacing: 0.3px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: inherit;
  text-decoration: none;
}

.header-content {
  position: relative;
  padding-top: 150px;
  padding-left: 7px;
}

.separator {
  width: 150px;
  height: 2px;
  background-color: #5C8EE5;
}

.header-title {
  margin-top: 23px;
  margin-bottom: 38px;
  max-width: 1080px;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  color: #FFFFFF;
}

.header-text {
  margin-bottom: 50px;
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  word-spacing: 0.8px;
}

.header-features {
  position: relative;
  margin: 0;
  margin-top: 100px;
  padding: 0;
  display: flex;
  list-style: none;
}

.header-features-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-icon {
  display: block;
  margin-bottom: 20px;
}

.header-features-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}



/* section steps */
/* ============================================================ */
.section {
  margin-top: 150px;
  margin-bottom: 150px;
}

.section-steps {
  padding-left: 15px;
}

.section-title {
  margin-top: 24px;
  margin-bottom: 50px;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  color: #292d33;
}

.steps {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.steps-item {
  width: 330px;
}

.steps-num {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #5c8ee5;
}

.steps-num::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ebebf0;
}

.steps-title {
  margin-top: 35px;
  margin-bottom: 13px;
  max-width: 300px;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
}

.steps-text {
  margin-top: 10px;
  margin-bottom: 0;
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
}

.steps-link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5c8ee5;
  text-decoration: none;
}

.steps-link::before {
  content: "";
  margin-right: 20px;
  width: 40px;
  height: 1px;
  background-color: #5c8ee5;
}